site_name: CR8TOR - 5-Safes Compliant Data Orchestration
site_url: https://lsc-sde-crates.github.io/cr8tor/
repo_url: https://github.com/lsc-sde-crates/cr8tor
repo_name: GitHub
site_description: >
  CR8TOR is a data orchestration tool that is 5-Safes compliant.
  It is designed to help Secure Data Environment operators to manage the
  ingress of curated datasets from a data warehouse or lake hoouse
  into a ressearch workspace.
site_author: https://github.com/lsc-sde-crates
nav:
  - Home: index.md
  - User Guide:
    - Create New DAR Project: user-guide/create-new-dar-project.md
    - Update DAR files: user-guide/update-resources-files.md
    - Orchestrate DAR: user-guide/orchestrate-dar.md
    - Approve DAR: user-guide/approve-dar.md
    - Environments: user-guide/environments.md
    - Troubleshooting: user-guide/troubleshooting.md
  - Developer Guide:
    - Overview: developer-guide/overview.md
    - Install cr8tor cli: developer-guide/install-cr8tor-cli.md
    - Orchestration layer setup: developer-guide/orchestration-layer-setup.md
    - Branching Strategy: developer-guide/branching-strategy.md
  - Cr8tor CLI App:
    - CLI Commands: cr8tor-cli/commands.md
  - Cr8tor Publisher App:
    - Overview: cr8tor-publisher/overview.md
    - Deploy to Kubernetes: cr8tor-publisher/deploy-to-kubernetes.md
  - CookieCutter Template:
    - Overview: cr8tor-cookiecutter/overview.md

 # - Schema Reference: schema_reference.md
theme:
  name: material
  logo: logo.png
  palette:
    # Palette toggle for dark mode
    - scheme: slate
      primary: green
      accent: green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: green
      accent: green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - content.code.copy
    - navigation.expand
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - toc.follow
    # - toc.integrate
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            extensions:
              - griffe_pydantic:
                  schema: true
  - autorefs

watch:
  - src/cr8tor
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          # format: !!python/name:pymdownx.superfences.fence_code_format
